# Entorno virtual
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
db.sqlite3
media/
staticfiles/

# Entorno / secretos
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini